<h1>FlugEdit (Imperativ)</h1>

<form [ngFormModel]="form" >

    <div>
        Um einen neuen Datensatz anzulegen, legen Sie eine leere Id fest.
    </div>

    <div *ngIf="message">
        {{message}}
    </div>
    <div class="form-group">
        <label>Id:</label>
        <input class="form-control" ngControl="id" />
    </div>

    <div class="form-group">
        <label>Von:</label>
        <input 
               class="form-control" 
               ngControl="abflugort" />

        <div *ngIf="!form.controls.abflugort.valid && !form.controls.abflugort.pending">
            Ungültige Daten!
        </div>
        <div *ngIf="form.controls.abflugort.dirty">
            Feld wurde geändert!
        </div>
        <div *ngIf="form.controls.abflugort.hasError('required')">
            Pflichtfeld, Alter!
        </div>
        <div *ngIf="form.controls.abflugort.hasError('minlength')">
            Zu Kurz!
        </div>
        <div *ngIf="form.controls.abflugort.hasError('maxlength')">
            Zu Lang!
        </div>
        <div *ngIf="form.controls.abflugort.hasError('ort')">
            Ort wird nicht angeflogen
        </div>
        <div *ngIf="form.controls.abflugort.hasError('ort-async')">
            Derzeit keine freien Flüge für diesen Ort
        </div>
        <div *ngIf="form.controls.abflugort.pending">
            <marquee>
                Validierung findet im Hintergrund statt.
            </marquee>
        </div>

    </div>

    

    <div class="form-group">
        <label>Nach:</label>
        <input class="form-control" ngControl="zielort" />
    </div>
    <div class="form-group">
        <label>Datum:</label>
        <input class="form-control" ngControl="datum" />
    </div>

    <div>
        <input type="button" (click)="save()"  class="btn" value="Speichern!" />

    </div>

</form>