<h1>{{info}}</h1>
<form #f="ngForm" *ngIf="activate">

    <div>
        Um einen neuen Datensatz anzulegen, legen Sie eine leere Id fest.
    </div>

    <div *ngIf="message">
        {{message}}
    </div>

    <div class="form-group">
        <label>Id:</label>
        <input class="form-control" [(ngModel)]="flug.id" ngControl="id" min="0" max="99999" />
    
        <div *ngIf="!f?.controls?.id?.valid">
            Muss zwischen 0 und 9999 sein!
        </div>

    </div>

    <div class="form-group">
        <label>Von:</label>
        <input class="form-control" 
                [(ngModel)]="flug.abflugort" 
                required minlength="3" maxlength="30" 
                ort ortAsync
                ngControl="abflugort" />

        <div *ngIf="!f?.controls?.abflugort?.valid">
            Validierungsfehler!
        </div>
        <div *ngIf="f?.controls?.abflugort?.hasError('required')">
            Pflichtfeld!
        </div>
        <div *ngIf="f?.controls?.abflugort?.hasError('minlength')">
            Zu Kurz!
        </div>
        <div *ngIf="f?.controls?.abflugort?.hasError('maxlength')">
            Zu Lang!
        </div>
        <div *ngIf="f?.controls?.abflugort?.hasError('ort')">
            Ort wird nicht angeflogen!
        </div>
        <div *ngIf="f?.controls?.abflugort?.hasError('ort-async')">
            Derzeit gibt es keine Flüge für diesen Ort!
        </div>
        <div *ngIf="f?.controls?.abflugort?.pending">
            Validiere Ort ...
        </div>
    </div>

    

    <div class="form-group">
        <label>Nach:</label>
        <input class="form-control" [(ngModel)]="flug.zielort" ngControl="zielort" />
    </div>
    <div class="form-group">
        <label>Datum:</label>
        <input class="form-control" date [(ngModel)]="flug.datum" ngControl="datum" />
    </div>

    <div>
        <input type="button" [disabled]="!f.valid" (click)="save(f)"  class="btn" value="Speichern!" />
    </div>

</form>